<div class="currency-select-overlay__wrap">
    <div class="currency-select-overlay">


        <section class="form-wrap">

            <h3>Currencies</h3>

            <button class="close-button" (click)="hideOverlay()"><span class="sr-only">Close</span></button>

            <form action="post" [formGroup]="addCurrenciesForm" (ngSubmit)="onSubmit()">

                <label formArrayName="orders" *ngFor="let rate of ratesFormArray.controls; let i = index">
                    <input type="checkbox" [formControlName]="i">
                    {{getCurrencyName(i)}}
                </label>

                <button class="add-button" type="submit">Add</button>

            </form>

        </section>


    </div>
</div>