<p>exchange-rates works</p>


<div *ngIf="overlayVisible">
    <app-currency-selector-overlay *ngIf="overlayVisible">
    </app-currency-selector-overlay>
</div>

<section>

    <app-currency-options-form [rates]="latestRates" (baseEvent)="changeBase($event)"
        (quantityEvent)="changeQuantity($event)"></app-currency-options-form>

    <h1>Currencies</h1>

    <div id="loader" *ngIf="loading" role="alert" aria-busy="true">
        <!-- Empty spans added for styling purposes -->
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <app-exchange-rate [rate]="rates" [quantity]="quantity" *ngFor="let rates of displayedRates"
        (removeRateEvent)="removeRate($event)">
    </app-exchange-rate>

    <button (click)="showOverlay()">Add currency</button>

</section>