button {
  padding: 12px;
  background-color: white;
  border: solid 1px $blue;
  border-radius: 5px;
}

.close-button {
  border: none;
  cursor: pointer;
}

.close-button::after {
  content: "\00D7";
  font-size: larger;
}
