section {
  width: 90%;
  margin: auto;
}

@media (min-width: $md) {
  section {
    max-width: 992px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

.section__primary {
  position: relative;
  background: rgb(255, 210, 223);
  background: linear-gradient(
    156deg,
    rgba(255, 210, 223, 1) 0%,
    rgba(124, 122, 153, 1) 35%,
    rgba(72, 87, 125, 1) 57%
  );
  padding: 20px;
  padding-top: 5px;
  border-radius: 40px;
}
