@import "../../../../../styles-global/base-colors.scss";
@import "../../../../../styles-global/breakpoints.scss";

header {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  width: 100%;
}

@media (min-width: $md) {
  header {
    display: flex;
    flex-direction: row;
  }
}

picture {
  width: 45%;
}

.logo {
  width: 100%;
  max-width: 200px;
  margin: auto;
}

@media (min-width: $md) {
  .logo {
    max-width: 400px;
  }
}

.menu-button {
  position: absolute;
  border: none;
  padding-top: 8px;
  right: 24px;
}

.menu-button__path {
  fill: $font;
}

@media (min-width: $md) {
  .menu-button {
    display: none;
  }
}

#main-navigation {
  margin-top: 20px;
  background-color: $font;
  max-height: 0;
  margin-bottom: 30px;
  overflow: hidden;
  transition: max-height 1s;
}

#main-navigation.visible {
  max-height: 200px;
  transition: max-height 1s;
}

@media (min-width: $md) {
  #main-navigation {
    width: 65%;
    margin-top: 8px;
    background-color: white;
    overflow: visible;
  }

  #main-navigation.visible {
    max-height: none;
    transition: none;
  }

  #main-navigation::after {
    content: " ";
    position: absolute;
    top: 75px;
    left: 0;
    width: 90%;
    margin-left: 5%;
    z-index: -1;
    border-bottom: solid 3px $font;
    opacity: 0.4;
  }
}

.main-navigation__list {
  padding: 0;
  margin: 0;
}

.main-navigation__list-item {
  display: block;
  font-size: large;
}

@media (min-width: $md) {
  .main-navigation__list-item {
    display: inline-block;
    font-size: larger;
    width: 50%;
  }
}

.main-navigation__link {
  display: inline-block;
  width: 90%;
  padding: 20px 5%;
  color: white;
  border-top: solid 1px white;
}

.main-navigation__link.active {
  position: relative;
}

@media (min-width: $md) {
  .main-navigation__link {
    color: $font;
  }

  .main-navigation__link.active {
    color: #5c28c4;
  }

  .main-navigation__link:not(.active) {
    color: gray;
  }

  .main-navigation__link:not(.active):hover {
    color: #5c28c4;
  }
}
