<div class="currency-select-overlay__wrap">
    <div class="currency-select-overlay">


        <form action="post" [formGroup]="addCurrenciesForm" (ngSubmit)="onSubmit()">

            <div id="loader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>

            <label formArrayName="orders" *ngFor="let rate of ratesFormArray.controls; let i = index">
                <input type="checkbox" [formControlName]="i">
                {{getCurrencyName(i)}}
            </label>

            <button type="submit">Add</button>

        </form>


    </div>
</div>